@import '../../../static/css/px2rem.scss';

.container {
  width: 100%;
  height: px2rem(183);
  border-bottom: 6px solid rgb(201, 197, 197);
  background: #fff;
}

.container-ul {
  height: 100%;
  overflow: hidden;
  display: flex;
}

.container-li {
  height: px2rem(145);
  width: px2rem(350);
  padding: 12px 12px 20px 12px;
}

.container-li .box {
  height: px2rem(145);
  width: px2rem(350);
}

.container-li .box img {
  width: px2rem(350);
  height: px2rem(146);
}
