@import '../../static/css/px2rem.scss';

* {
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: px2rem(183);
  background: #fff;
  border-bottom: 6px solid rgb(201, 197, 197);
}


.swiper-container img {
  width: px2rem(350);
  height: px2rem(146);
  margin: px2rem(18) px2rem(12);
}



