@import '../../static/css/px2rem.scss';
.shopcar {
  .notshop {
    .not-top {
      background: black;
      height: px2rem(50);
    }
    .not-center {
      .not-cen {
        margin: px2rem(200) auto;
        text-align: center;
        line-height: px2rem(30);
        h3 {
          color: rgba(0, 0, 0, 0.15);
          font-size: 24px;
        }
        p {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.15);
        }
        a {
          display: block;
          border: 1px solid #fff;
          border-radius: 4px;
          width: px2rem(142);
          height: px2rem(40);
          line-height: px2rem(40);
          margin: auto;
          font-size: 14px;
        }
      }
    }
  }
}
