@import '../../static/css/px2rem.scss';

.shopcar {
  height: 100%;
  display: flex;
  flex-direction: column;
  .notshop {
    height: 100%;
    display: flex;
    flex-direction: column;
    .not-top {
      background: black;
      height: px2rem(50);
    }
    .not-center {
      flex: 1;
      .not-cen {
        margin: px2rem(200) auto;
        text-align: center;
        line-height: px2rem(30);
        h3 {
          color: rgba(0, 0, 0, 0.15);
          font-size: 24px;
        }
        p {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.15);
        }
        a {
          display: block;
          border: 1px solid #fff;
          border-radius: 4px;
          width: px2rem(142);
          height: px2rem(40);
          line-height: px2rem(40);
          margin: auto;
          font-size: 14px;
        }
      }
    }
  }
  .hasshop {
    flex: 1;
    display: flex;
    flex-direction: column;
    .shoplist {
      display: flex;
      flex: 1;
      overflow: auto;
      flex-direction: column;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        height: px2rem(114);
        overflow: hidden;
        margin-bottom: 6px;
        img {
          width: px2rem(90);
          margin: 0 px2rem(20);
        }
        .wrap-price {
          line-height: 22px;
        }
      }
    }
    .shopcount {
      height: px2rem(54);
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #fff;
      margin-bottom: 6px;
    }
  }
}
