.login{
  display: flex;
  flex-flow: column;

  .login_header{
    width: 100%;
    height: 50px;
    background: #1d1d1d;

    p{
      color: #fff;
      font-size: 20px;
      line-height: 2.8em;
      text-align: center;
    }
  }

  .login_body{
    margin: 14px 12px 0;
    background: url(https://static.smartisanos.cn/account.common/img/v2/m/bg_66b2175241.jpg)

    input{
      padding: 0 10px;
      border-radius: .4rem .4rem 0 0;
      box-shadow: #ccc  1px 1px 1px 1px;
    }
  }
}