@import '../../static/css/px2rem.scss';
@import '../../static/css/mixins.scss';

.det-cs {
  .det-pra {
    background: #fff;
    margin-bottom: 8px;
    h2 {
      height: px2rem(40);
      line-height: px2rem(40);
      font-size: 16px;
      padding: 0 6px;
      font-weight: 700;
      color: #666;
      @include border-bottom;
    }
    .det-ul {
      width: px2rem(300);
      margin: px2rem(20) auto;
      li {
        font-size: 8px;
        background: #fafafa;
        display: flex;
        justify-content: space-between;
        padding: px2rem(20);
        @include border-bottom;
        h4 {
          color: #333;
          font-weight: 700;
          flex-wrap: nowrap;
          flex-shrink: 0;
        }
        span {
          color: #7f7f7f;
        }
      }
    }
  }
  .det-ams {
    background: #fff;
    margin: px2rem(20) 0;
    h2 {
      height: px2rem(40);
      line-height: px2rem(40);
      font-size: 14px;
      font-weight: 700;
      color: #666;
      margin-left: px2rem(12);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include border-bottom;
    }
    .ams-ul {
      overflow: hidden;
      padding: px2rem(15) 0;
      font-size: 8px;
      font-weight: 700;
      color: #333;
      line-height: 1.5;
      display: flex;
      flex-wrap: wrap;
      li {
        margin: px2rem(15) px2rem(15);
      }
    }
  }
}
