@import '../../static/css/px2rem.scss';
.detail {
  display: flex;
  flex-direction: column;
  height: 100%;

  .det-top {
    height: px2rem(50);
  }

  .det-center {
    flex: 1;
    overflow: auto;
  }
}
