@import '../../static/css/px2rem.scss';
@import '../../static/css/mixins.scss';

.recommend {
  background: #fff;
  h2 {
    height: px2rem(40);
    line-height: px2rem(40);
    font-size: 16px;
    padding: 0 6px;
    font-weight: 700;
    color: #666;
    @include border-bottom;
  }
  .rec-wrap {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    .rec-main {
      width: 46%;
      margin: 2%;
      box-sizing: border-box;
      padding: px2rem(20);
      @include border;
      img {
        width: 100%;
      }
      .rec-cont {
        h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0;
          font-size: 10px;
          color: #333;
        }
        .p1 {
          margin-top: 0.3rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 0.5rem;
          line-height: 1.2;
          color: #7f7f7f;
          min-height: 6px;
        }
        .p2 {
          font-size: 8px;
          margin-top: 6px;
          color: #d44d44;
          display: inline-block;
          white-space: nowrap;
          font-weight: 700;
          i {
            font-style: normal;
          }
        }
      }
    }
  }
}
